* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgba(0, 128, 0, 0.2);
}

.header {
    color: green;
    text-align: center;
}

.heightwidth {
    height: 30px;
    width: 50%;
    background-color: yellow;
}